/*
Theme Name:       ClassiAlly - Classified Ads Website Template
Author:           UIdeck
Author URI:       http://uideck.com
Text Domain:      UIdeck
Domain Path:      /languages/
*/
/*TABLE OF CONTENT */
/* CORE: */
/* ____Bootstrap */
/* ____Color */
/* ____Form */
/* ____Logo */
/* ____Icon */
/* ____Button */
/* ____Background */
/* ____Typography */
/* ____Nav */
/* ____Header */
/* ____Footer */
/* MODULES: */
/* ____Service */
/* ____Counter */
/* ____Google-maps */
/* ____Pagination */
/* ____Pricing-table */
/* ____Blog */
/* ____Single Blog */
/* ____Search */
/* ____Testimonial */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.hero-heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
  letter-spacing: 0.1rem;
}

.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}

.section-title-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  font-size: 36px;
  color: #333;
  line-height: 52px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.section-title:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 45px;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #00cc67;
}

.section-subcontent {
  font-size: 16px;
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-sub {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 52px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
}

.section-sub:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 45px;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #00cc67;
}

.subtitle {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inner-title {
  font-size: 24px;
  font-weight: 700;
  text-tranform: capitalize;
}

.page-tagline {
  font-size: 24px;
  font-weight: 400;
  color: #ddd;
}

.page-title {
  font-size: 62px;
  font-weight: 700;
  color: #fff;
}

.btn {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #00cc67;
  position: relative;
  color: #fff;
  z-index: 1;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-common:hover {
  color: #fff;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.btn-border {
  color: #484848;
  background-color: transparent;
  border: 2px solid #484848;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn-border:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 8px 16px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #00cc67;
}

.bg-drack {
  background: #fafafa;
}

.bg-white {
  background: #fff;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #00cc67;
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

.owl-carousel .item {
  margin: 5px;
}

.owl-carousel.item img {
  display: block;
  width: 50%;
  height: auto;
}

.owl-carousel .owl-controls .owl-page {
  display: inline-block;
}

.owl-carousel .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #fff;
  border-radius: 2px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #00cc67;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-padding {
  padding: 60px 0;
}

.page-header {
  padding: 115px 0px 45px;
  position: relative;
}

.page-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 59, 77, 0.88);
}

.page-header .breadcrumb-wrapper {
  text-align: center;
}

.page-header .breadcrumb-wrapper .product-title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
}

.page-header .breadcrumb-wrapper .breadcrumb {
  font-size: 14px;
  color: #00cc67;
  border-radius: 0px;
  background: transparent;
  padding: 5px 0px;
  z-index: 1;
}

.page-header .breadcrumb-wrapper .breadcrumb li {
  display: inline-block;
}

.page-header .breadcrumb-wrapper .breadcrumb li a {
  color: #fff;
  padding-right: 5px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#roof {
  background: #ddd;
  padding: 15px 0;
}

#roof .info-bar-address {
  font-size: 14px;
}

#roof .quick-contacts span {
  margin-right: 10px;
}

#roof .quick-contacts span a {
  color: #333;
}

#roof .quick-contacts span a:hover {
  color: #E91E63;
}

#roof .quick-contacts span i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 15px;
}

.menu-bg {
  background: #fff;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}

.menu-bg .navbar-nav .nav-link {
  color: #333 !important;
}

.bg-black {
  background: #111011;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.navbar-brand img {
  width: 200px;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #00cc67 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #fff !important;
}

.indigo {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding: 0 17px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 40px;
  text-transform: uppercase;
  background: transparent;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #00cc67;
  outline: none;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #fff !important;
  background: #00cc67;
  border-radius: 4px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 190px;
  border: none;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  position: absolute;
  top: -8px;
  left: 22px;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 9px 8px;
  border-color: transparent transparent #fff;
  box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
  background: #ffffff;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  display: inline-block;
  float: left;
  letter-spacing: 0.5px;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  background: #00cc67;
  color: #fff !important;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.tg-btn {
  color: #ffffff;
  font-size: 14px;
  padding: 3px 15px 3px;
  margin-left: 10px;
  position: relative;
  background: #00cc67;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  text-transform: capitalize;
}

.tg-btn:hover {
  color: #fff !important;
  background: #02ab55;
}

.tg-btn i {
  margin-right: 3px;
}

.sign-in {
  display: inline-table;
}

.sign-in li {
  display: inline-block;
  margin-right: 5px;
}

.sign-in li .nav-link {
  color: #00cc67;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 3px 10px 3px;
  background: #fff;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-in li .nav-link:hover {
  color: #02ab55 !important;
}

.sign-in li .nav-link i {
  margin-right: 5px;
}

.sign-in .dropdown .dropdown-menu .dropdown-item i {
  margin-right: 5px;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #00cc67;
}

.slicknav_menu .slicknav_icon-bar {
  background: #00cc67;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 0px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav .dropdown li a.active {
    background: #f5f5f5;
    color: #E91E63;
  }
}

/* ==========================================================================
3. Hero Area
========================================================================== */
#hero-area {
  background: url(../img/hero-area.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(54 59 77 / 78%);
}

#hero-area .contents {
  padding: 160px 0 210px;
}

#hero-area .contents .head-title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#hero-area .contents span.year {
  color: #00cc67;
}

#hero-area .contents p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
}

.search-bar {
  margin-top: 40px;
}

.search-bar .search-form {
  width: 100%;
  float: left;
}

.search-bar fieldset {
  background: #fff;
  overflow: hidden;
  padding: 0 190px 0 0;
  border-radius: 4px;
}

.search-bar fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  float: left;
  position: relative;
}

.search-bar .form-group:first-child {
  border: 0;
}

.search-bar .form-group {
  margin: 0;
  float: left;
  width: 30.33%;
  padding: 0 0 0 60px;
  border-left: 1px solid #dbdbdb;
}

.search-bar .form-group .form-control {
  position: relative;
  z-index: 1;
  border: 0;
  height: 60px;
  border-radius: 0;
  font-size: 16px;
  line-height: 30px;
  padding: 15px 15px 15px 0;
}

.search-bar .form-group .form-control, .search-bar .form-group .tg-select select {
  border: 0;
  height: 60px;
  border-radius: 0;
  font-size: 16px;
  line-height: 30px;
  padding: 15px 15px 15px 0;
  background: #ffffff;
}

.search-bar .form-group .form-control, .search-bar .form-group .tg-select select:focus {
  outline: none;
  box-shadow: none;
}

.search-bar .tg-select {
  color: #666;
  float: left;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

.search-bar .tg-select:after {
  top: 10px;
  right: 15px;
  z-index: 2;
  color: #666;
  display: block;
  content: '\e93a';
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 40px;
  font-family: 'LineIcons';
}

.search-bar .tg-select select {
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search-bar .tg-select select option {
  color: #666;
}

.search-bar .tg-inputwithicon {
  position: relative;
}

.search-bar .tg-inputwithicon i {
  top: 0;
  left: 0;
  z-index: 2;
  color: #363b4d;
  position: absolute;
}

.search-bar .tg-inputwithicon i {
  left: 20px;
  color: #666;
  font-size: 20px;
  line-height: 60px;
}

.search-bar .btn-common {
  top: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  width: 100px;
  border-radius: 0;
  border: none;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  position: absolute;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.search-bar .btn-common i {
  font-size: 38px;
  vertical-align: middle;
}

.search-button {
  background: #484848;
  padding-bottom: 40px;
}

/* Feateured Product */
.featured-box {
  width: 100%;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  margin-bottom: 15px;
  margin-top: 15px;
}

.featured-box figure {
  margin: 0;
  width: 100%;
  float: left;
  position: relative;
}

.featured-box figure .icon i {
  top: 10px;
  right: 10px;
  z-index: 2;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  background: #00cc67;
  padding: 10px;
  display: inline-block;
  border-radius: 4px;
}

.featured-box .feature-content .tg-product {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  margin: 0 0 12px;
  padding: 20px 0 10px;
  border-bottom: 1px solid #dbdbdb;
}

.featured-box .feature-content .tg-product a {
  color: #999;
}

.featured-box .feature-content h4 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;
}

.featured-box .feature-content h4 a {
  color: #00cc67;
}

.featured-box .feature-content ul.address {
  margin-bottom: 15px;
  display: inline-block;
}

.featured-box .feature-content ul.address li {
  float: left;
  width: 50%;
  line-height: 30px;
  color: #999;
}

.featured-box .feature-content ul.address li i {
  margin-right: 5px;
}

.featured-box .feature-content ul.address li a {
  color: #999;
}

.featured-box .feature-content ul.address li a:hover {
  color: #00cc67;
}

.featured-box .feature-content .btn-list .btn-common i {
  margin-right: 5px;
}

.featured-box .feature-content .btn-list .btn-price {
  font-size: 14px;
  padding: 12px 30px;
  background: #ff6670;
  margin-right: 5px;
  line-height: 19px;
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  border-radius: 4px;
}

.featured-box .feature-content span {
  font-size: 10px;
}

/* ==========================================================================
   Featured Listings Styles
   ========================================================================== */
.featured-lis {
  background: #fafafa;
}

.product-item {
  background: #ffffff;
}

.product-item .carousel-thumb {
  display: block;
  position: relative;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.product-item .carousel-thumb .overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  top: 0;
  left: 0;
  z-index: 999;
  bottom: -1px;
  right: 0;
  opacity: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.product-item .carousel-thumb .price {
  background-color: #ff6670;
  color: #fff;
  font-size: 11px;
  left: 14px;
  font-weight: 700;
  padding: 3px 8px;
  position: absolute;
  top: 12px;
  z-index: 999;
}

.product-item .carousel-thumb:hover {
  border-color: #00cc67;
}

.product-item .carousel-thumb:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.product-item .carousel-thumb:hover i {
  opacity: 1;
  visibility: visible;
}

.product-item .product-content {
  padding: 15px 15px 0;
  position: relative;
}

.product-item .product-content a {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

.product-item .product-content a i {
  margin-right: 5px;
}

.product-item .product-title {
  margin: 0;
  overflow: hidden;
  font-size: 15px;
  padding: 10px 0;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-item .product-title a {
  color: #484848;
  font-weight: 500;
}

.product-item .product-title a:hover {
  color: #00cc67;
}

.product-item .icon i {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  color: #00cc67;
  font-size: 15px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 12px;
  width: 36px;
}

.product-item .price {
  color: #484848;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding-top: 7px;
}

.product-item .card-text {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  padding: 15px 0;
  border-top: 1px solid #f1f1f1;
}

.product-item .card-text .icon-wrap {
  margin-right: 5px;
}

.product-item .card-text .icon-wrap i {
  color: #00cc67;
}

.product-item .card-text .btn-product a {
  color: #484848;
  padding: 5px 14px;
  border-radius: 20px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.bg-red a {
  background: #ff6670;
  color: #fff !important;
}

.bg-yellow a {
  background: #FFC107;
  color: #fff !important;
}

#new-products .owl-controls .owl-buttons {
  position: relative;
  top: -150px;
  left: 0;
}

#new-products .owl-controls .owl-buttons div.owl-prev {
  float: left;
  margin-left: -45px;
}

#new-products .owl-controls .owl-buttons div.owl-next {
  float: right !important;
  margin-right: -45px;
}

.owl-theme .owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  display: block !important;
  background: #00cc67 !important;
  text-align: center;
  display: inline-block;
  opacity: 1 !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.8 !important;
}

.owl-theme .owl-controls .owl-buttons div i {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}

/* Trending Categories Section Start */
.trending-cat {
  background: #fafafa;
}

.contents-ctg {
  padding: 110px 0 160px;
}

.box {
  background: #fff;
  color: #666;
  float: left;
  margin: 0 0 30px;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box .icon {
  margin: 0 auto 20px;
}

.box .icon img {
  height: 60px;
  max-width: 60px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box .icon i {
  font-size: 40px;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #484848;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box strong {
  display: block;
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 10px;
  color: #999;
  webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.box:hover {
  background: #00cc67;
  -webkit-box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
  -moz-box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}

.box:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.box-hover i,
.box:hover h4,
.box:hover strong {
  color: #fff;
}

#list-view .featured-box {
  display: inline-block;
}

#list-view .featured-box figure {
  float: left;
  width: 42%;
}

#list-view .featured-box .feature-content {
  float: left;
  text-align: left;
  padding: 0px 15px 15px 30px;
  width: 50.667%;
}

#list-view .featured-box .feature-content .tg-product {
  padding: 0px 0 10px;
}

#list-view .list-box figure {
  float: left;
  width: 38%;
}

#list-view .list-box figure img {
  height: 218px;
  width: 100%;
}

#list-view .list-box .feature-content {
  float: left;
  text-align: left;
  padding: 0px 0px 0px 0px;
  width: 58%;
  margin-left: 20px;
}

.product-filter {
  margin-bottom: 20px;
  background: #fafafa;
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.product-filter .nav-tabs {
  float: right;
  margin-right: 10px;
  border: none;
}

.product-filter .nav-tabs .nav-link {
  font-size: 22px;
  border: none;
  padding: 2px 10px;
  border-radius: 4px;
  color: #999;
  background: transparent;
}

.product-filter .nav-tabs .nav-item.show .nav-link,
.product-filter .nav-tabs .nav-link.active {
  border: none;
  color: #fff;
  color: #00cc67;
}

.product-filter .short-name {
  line-height: 10px;
  display: inline-block;
  color: #999;
}

.product-filter .short-name span {
  float: left;
  margin-right: 5px;
}

.product-filter .short-name .name-ordering {
  float: left;
}

.product-filter .Show-item {
  float: right;
  line-height: 27px;
}

.product-filter .Show-item span {
  color: #999;
  display: inline-block;
  line-height: 20px;
  margin-right: 5px;
}

.product-filter .Show-item .woocommerce-ordering {
  float: right;
}

.product-filter .button, .product-filter select {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.categories-icon .icon-box {
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-icon .icon-box .icon {
  margin-bottom: 15px;
}

.categories-icon .icon-box .icon i {
  width: 80px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  color: #999;
  font-size: 48px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-icon .icon-box h4 {
  font-size: 16px;
  color: #484848;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-icon .icon-box:hover {
  background: #00cc67;
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}

.categories-icon .icon-box:hover .icon i {
  font-size: 42px;
  color: #fff;
}

.categories-icon .icon-box:hover h4 {
  color: #fff;
}

.page-sidebar .widget {
  background-color: #fafafa;
  margin-bottom: 30px;
}

.page-sidebar .widget .widget-title {
  padding: 17px 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
}

.page-sidebar .categories-list {
  padding: 20px;
}

.page-sidebar .categories-list li {
  padding: 7px 0;
}

.page-sidebar .categories-list li a {
  text-decoration: none;
  color: #888;
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.page-sidebar .categories-list li a:hover {
  color: #00cc67;
}

.page-sidebar .categories-list li a i {
  margin-right: 5px;
}

.page-sidebar .categories-list li .category-counter {
  font-size: 12px;
}

.page-sidebar .add-box {
  padding: 20px;
}

/* Gallery Section */
#gallery-section {
  position: relative;
}

#gallery-section .gallery-box {
  position: relative;
  margin-bottom: 30px;
}

#gallery-section .gallery-box .overlay-box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 25%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#gallery-section .gallery-box .overlay-box i {
  color: #ffffff;
  font-size: 16px;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  background: #e6296a;
  border-radius: 50%;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#gallery-section .gallery-box:hover .overlay-box {
  background: rgba(0, 0, 0, 0.85);
  transform: scale(1, 1);
  transition: all 500ms ease;
}

#gallery-section .gallery-box:hover .overlay-box i {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

/* Services Item */
.services-item {
  padding: 30px;
  background: #fafafa;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(37, 37, 37, 0.08);
  border-bottom: 3px solid #f1f1f1;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
  color: #00cc67;
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .services-content h3 {
  margin-bottom: 10px;
}

.services-item .services-content h3 a {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #484848;
}

.services-item .services-content h3 a:hover {
  color: #00cc67;
}

.services-item:hover {
  border-color: #00cc67;
}

.details-box .product-img {
  position: relative;
}

.details-box .price {
  position: absolute;
  top: 20px;
  right: 5px;
  background: #00cc67;
  padding: 10px 25px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.details-box .ads-details-info h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.details-box .ads-details-info .details-meta span {
  display: inline-block;
  margin: 11px 0 16px;
}

.details-box .ads-details-info .details-meta span a {
  color: #999;
  margin-right: 10px;
}

.details-box .ads-details-info .details-meta span a:hover {
  color: #00cc67;
}

.details-box .ads-details-info .details-meta span a i {
  margin-right: 5px;
}

.details-box .ads-details-info .title-small {
  font-size: 22px;
  font-weight: 500;
}

.details-box .ads-details-info .list-specification {
  width: 100%;
  display: inline-block;
}

.details-box .ads-details-info .list-specification li {
  width: 48%;
  box-sizing: border-box;
  float: left;
  position: relative;
  margin-bottom: 7px;
  margin-right: 5px;
}

.details-box .ads-details-info .list-specification li i {
  margin-right: 2px;
}

.details-box .advertisement li {
  display: inline-block;
  margin-right: 10px;
}

.details-box .advertisement li a {
  color: #484848;
}

.details-box .ads-btn a {
  margin-right: 5px;
}

.details-box .ads-btn a i {
  margin-right: 5px;
}

.details-box .ads-btn .btn-reply {
  background: #0d79bf;
}

.details-box .share span {
  float: left;
  margin-right: 12px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
}

.details-box .social-link a {
  display: inline-block;
  color: #fff;
  margin-right: 5px;
  border-radius: 4px;
  background: #fafafa;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

.details-box .social-link .twitter {
  background: #55acee;
}

.details-box .social-link .facebook {
  background: #3b5998;
}

.details-box .social-link .google {
  background: #dd4b39;
}

.details-box .social-link .linkedin {
  background: #007bb5;
}

.details-box .owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -65px;
}

.description-info {
  margin-top: 50px;
  background: #ffffff;
}

.description-info .description {
  background: #fafafa;
  padding: 30px;
}

.description-info .short-info {
  background: #fafafa;
  padding: 30px;
}

.description-info .short-info h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.description-info .short-info ul li {
  margin-bottom: 20px;
}

.description-info .short-info ul li i {
  font-size: 18px;
  margin-right: 10px;
}

.description-info .short-info ul li a {
  color: #484848;
  font-size: 16px;
}

.description-info .short-info ul li a span {
  color: #00cc67;
}

.description-info .short-info ul li a:hover {
  color: #00cc67;
}

.owl-theme .owl-controls {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.sidebar-box {
  background: #fafafa;
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}

.sidebar-box .user {
  float: left;
  width: 100%;
  padding: 30px 20px;
  position: relative;
  margin-bottom: 30px;
  background: #00cc67;
}

.sidebar-box .user figure {
  margin: 0;
  float: left;
  position: relative;
}

.sidebar-box .user figure img {
  border-radius: 50%;
}

.sidebar-box .user .usercontent {
  overflow: hidden;
  padding: 12px 0 12px 15px;
}

.sidebar-box .user .usercontent h3 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 6px;
}

.sidebar-box .user .usercontent h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.sidebar-box .navdashboard {
  border-top: 1px solid #495067;
}

.sidebar-box .navdashboard ul {
  width: 100%;
}

.sidebar-box .navdashboard ul li {
  margin: 0;
  width: 100%;
  float: left;
  position: relative;
  line-height: 48px;
}

.sidebar-box .navdashboard ul li a {
  color: #484848;
  width: 100%;
  float: left;
  line-height: inherit;
  margin-bottom: 3px;
  border-left: 3px solid transparent;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.sidebar-box .navdashboard ul li a span {
  text-align: left;
}

.sidebar-box .navdashboard ul li a i {
  width: 58px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.sidebar-box .navdashboard ul li a:focus,
.sidebar-box .navdashboard ul li a:hover,
.sidebar-box .navdashboard ul li a.active {
  border-color: #00cc67;
}

.sidebar-box .navdashboard ul li a:focus i,
.sidebar-box .navdashboard ul li a:hover i,
.sidebar-box .navdashboard ul li a.active i {
  color: #00cc67;
}

/*==============================================
Dashboard Global Elements			
==============================================*/
.dashboard-sections {
  padding: 20px 0;
}

.dashboard-sections .dashboardbox {
  width: 100%;
  float: left;
  overflow: hidden;
  background: #fff;
  position: relative;
  border-radius: 4px;
  padding: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dashboard-sections .icon {
  float: left;
}

.dashboard-sections .icon i {
  font-size: 22px;
  text-align: center;
  line-height: 42px;
  width: 42px;
  border-radius: 50%;
  color: #fff;
  height: 42px;
  display: inline-block;
  background: #00cc67;
}

.dashboard-sections .contentbox {
  float: left;
  margin-left: 10px;
}

.dashboard-sections .contentbox h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.dashboard-sections .contentbox h2 a {
  color: #484848;
  bottom: 10px;
  padding: 0 14px 0 0;
}

.dashboard-sections .contentbox h2 a:hover {
  color: #00cc67;
}

.dashboard-sections .contentbox h3 {
  font-size: 15px;
  color: #999;
  font-weight: 400;
  margin: 0;
}

.dashboardbox:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.inner-box {
  background: #fafafa;
}

.dashboard-box {
  width: 100%;
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid #eaedef;
}

.dashboard-box .dashbord-title {
  margin: 0;
  float: left;
  color: #363b4d;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 0 8px 10px;
}

.dashboard-wrapper {
  padding: 10px 15px;
}

.dashboard-wrapper .select select {
  border: 0;
  width: 100%;
  border-radius: 0;
  background: transparent;
  font-size: 16px;
  outline: none;
  line-height: 30px;
  padding: 15px 15px 15px 0;
}

#editor {
  position: relative;
}

#editor .panel-default .panel-heading {
  padding: 0;
  border-radius: 4px;
  background: transparent;
  border: none;
}

#editor .note-editor.note-frame {
  border: 1px solid #ddd;
}

#editor .popover {
  display: none;
}

.note-Top {
  display: none;
}

.tg-fileuploadlabel {
  width: 100%;
  padding: 30px;
  color: #363b4d;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 3px dashed #eaedef;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.tg-fileuploadlabel span {
  display: block;
  margin-bottom: 15px;
}

.tg-fileuploadlabel span:first-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.tg-fileuploadlabel span:first-child(2) {
  padding: 15px 0;
}

.tg-fileuploadlabel span:first-child(4) {
  color: #363b4d;
  font-size: 13px;
  line-height: 16px;
  margin: 30px 0 0;
}

.tg-fileuploadlabel input[type=file].fileinput {
  display: none;
}

.tg-fileuploadlabel .btn {
  color: #fff;
  padding: 10px 50px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 23px;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}

#tg-photogallery {
  display: none;
}

.checkbox {
  font-size: 12px;
}

.checkbox a {
  font-size: 12px;
  color: #999;
}

.checkbox a:hover {
  color: #00cc67;
}

.tg-inputwithicon .tg-select {
  color: #666;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

.tg-inputwithicon .tg-select:after {
  top: 10px;
  right: 15px;
  z-index: 2;
  color: #666;
  display: block;
  content: '\e93a';
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 40px;
  font-family: 'LineIcons';
}

.tg-inputwithicon .tg-select select {
  border: 0;
  border-radius: 0;
  font-size: 16px;
  width: 100%;
  line-height: 30px;
  background: #ffffff;
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dashboard-wrapper .tg-inputwithicon .tg-select:after {
  top: 2px;
}

.dashboard-wrapper .tg-select select:focus {
  outline: none;
}

/*==============================================
Dashboard My Ads					
==============================================*/
.nav-table {
  width: 100%;
  display: inline-block;
  margin: 10px 0 20px;
}

.nav-table ul li {
  float: left;
  margin-right: 15px;
  position: relative;
}

.nav-table ul li a {
  color: #00cc67;
  padding: 7px 16px;
  display: inline-block;
  border: 1px solid #eaedef;
  border-radius: 4px;
}

.nav-table ul li a:hover,
.nav-table ul li.active a {
  background: #00cc67;
  color: #fff;
}

.dashboardtable tbody tr {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dashboardtable thead tr th {
  color: #484848;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding: 15px 10px;
  background: transparent;
  vertical-align: middle;
  border-bottom: none;
}

.dashboardtable thead tr th .checkbox,
.dashboardtable tbody tr td .checkbox {
  width: 20px;
  height: 20px;
}

.dashboardtable tbody tr td,
.dashboardtable tbody tr td h3 {
  color: #484848;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  margin: 0;
}

.dashboardtable tbody tr td h3 + span {
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.photo {
  width: 110px;
  display: block;
}

.adcategories {
  min-width: 110px;
  display: block;
}

.adstatus {
  width: 80px;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}

.adstatusinactive {
  color: #363b4d;
  background: #f7f7f7;
}

.adstatusactive {
  background: #00cc67;
}

.adstatusexpired {
  background: #fc9209;
}

.adstatusdeleted {
  background: #f91942;
}

.adstatussold {
  background: #363b4d;
}

.btns-actions {
  min-width: 150px;
  width: 100%;
  float: left;
  margin: -5px 0;
}

.btns-actions .btn-action {
  margin: 5px;
  width: 40px;
  height: 40px;
  float: left;
  color: #363b4d;
  line-height: 40px;
  border-radius: 5px;
  background: #f7f7f7;
  text-align: center;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btns-actions .btn-action i {
  display: block;
  line-height: 40px;
}

.dashboardtable tbody tr:hover .btn-delete {
  background: #f91942;
  color: #fff;
}

.dashboardtable tbody tr:hover .btn-edit {
  background: #363b4d;
  color: #fff;
}

.dashboardtable tbody tr:hover .btn-view {
  background: #00cc67;
  color: #fff;
}

.dashboardtable tbody tr:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.form-dashboard {
  padding: 0px 5px 15px;
}

.form-dashboard .privacy-box .dashboardholder {
  border: 1px solid #ddd;
  padding: 15px;
}

.form-dashboard .privacy-box .dashboardholder ul {
  margin-bottom: 20px;
}

.form-dashboard .privacy-box .dashboardholder ul li {
  margin-bottom: 15px;
}

.form-dashboard .privacy-box .dashboardholder ul li .checkbox span {
  font-size: 14px;
  margin-left: 8px;
}

.dashboardboxtitle h2 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
}

.offers-messages {
  border: 1px solid #ddd;
  padding: 0px 0 15px;
}

.offers-messages .offers-box {
  padding: 15px 0;
  display: inline-block;
  border-right: 1px solid #ddd;
}

.offers-user-online .offerer {
  width: 100%;
  float: left;
  cursor: pointer;
  position: relative;
  margin: 0px;
  padding: 10px;
}

.offers-user-online .offerer figure {
  float: left;
  margin: 0px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 2px 12px 0px rgba(198, 198, 198, 0.3);
  border: 2px solid #fff;
  position: relative;
}

.offers-user-online .offerer figure img {
  height: auto;
  max-width: 100%;
}

.offers-user-online .offerer .bolticon {
  width: 8px;
  height: 8px;
  background: #00cc67;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 15px;
}

.offers-user-online .offerer .user-name {
  padding: 10px 0;
}

.offers-user-online .offerer .user-name h3 {
  color: #484848;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
}

.offers-user-online .offerer .user-name h4 {
  font-size: 14px;
}

.offers-user-online .offerer .user-name h4 a {
  color: #00cc67;
}

.chat-message-box {
  padding: 15px 0;
  display: inline-block;
}

.chat-message-box .offerermessage {
  width: 100%;
  float: left;
  position: relative;
}

.chat-message-box .offerermessage figure {
  float: left;
  margin: 0px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 2px 12px 0px rgba(198, 198, 198, 0.3);
  border: 2px solid #fff;
  position: relative;
}

.chat-message-box .offerermessage figure img {
  height: auto;
  max-width: 100%;
}

.chat-message-box .offerermessage .description {
  margin-left: 80px;
}

.chat-message-box .offerermessage .description .info {
  width: auto;
  padding: 10px;
  margin: 0px 0px 5px;
  background: #fff;
}

.chat-message-box .offerermessage .description .info h3 {
  font-size: 16px;
  font-weight: 500;
}

.chat-message-box .offerermessage .description .info p {
  font-size: 13px;
  line-height: 20px;
}

.chat-message-box .offerermessage .description .date {
  color: #999;
  font-style: italic;
}

.chat-message-box .memessage {
  width: 100%;
  float: left;
  position: relative;
  margin: 8px 0px;
  padding: 0px 40px;
}

.chat-message-box .memessage figure {
  float: right;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 2px 12px 0px rgba(198, 198, 198, 0.3);
  border: 2px solid #fff;
  bottom: 21px;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0px;
  right: 0;
}

.chat-message-box .memessage figure img {
  height: auto;
  max-width: 100%;
}

.chat-message-box .memessage .description {
  margin-left: 80px;
}

.chat-message-box .memessage .description .info {
  width: auto;
  padding: 10px;
  margin: 0px 0px 5px;
  background: #fff;
}

.chat-message-box .memessage .description .info h3 {
  font-size: 16px;
  font-weight: 500;
}

.chat-message-box .memessage .description .info p {
  font-size: 13px;
  line-height: 20px;
}

.chat-message-box .memessage .description a {
  color: #999;
}

.chat-message-box .memessage .description a:hover {
  color: #00cc67;
}

.chat-message-box .memessage .description .date {
  color: #999;
  font-style: italic;
}

.replay-box {
  float: left;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
}

.replay-box .form-control {
  width: 100%;
  height: 100px;
  font-size: 13px;
  line-height: 16px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 8px;
  border-radius: 0px;
}

.replay-box .icon-box {
  width: 100%;
  float: left;
  height: 39px;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.replay-box .icon-box i {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 6px;
}

.card {
  background: #fafafa;
  padding: 25px 30px 30px 30px;
  margin-bottom: 10px;
}

.card .table-total-checkout {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card .table-total-checkout tbody tr td {
  text-align: right;
  font-size: 30px;
}

/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
.mainHeading {
  text-align: center;
  margin-bottom: 20px;
}

.mainHeading .section-title {
  padding: 20px 0px;
}

#pricing-table {
  text-align: center;
}

#pricing-table .title {
  padding-top: 17px;
  padding-bottom: 25px;
}

#pricing-table .title h3 {
  color: #7a7d80;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0px;
}

#pricing-table .table {
  padding-bottom: 30px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  border-bottom: 3px solid #ddd;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#pricing-table .table .pricing-header {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

#pricing-table .table .pricing-header .price-value {
  font-size: 46px;
  color: #00cc67;
  position: relative;
  text-align: center;
  font-weight: 700;
  line-height: 62px;
}

#pricing-table .table .pricing-header .price-value sup {
  font-size: 18px;
  font-weight: 500;
  top: -18px;
}

#pricing-table .table .pricing-header .price-value span {
  font-size: 14px;
  font-weight: 500;
}

#pricing-table .table .description {
  text-align: center;
  padding: 0px 50px;
  margin-bottom: 20px;
}

#pricing-table .table .description li {
  font-size: 14px;
  font-weight: 500;
  color: #7a7d80;
  padding-bottom: 15px;
}

#pricing-table .table:hover {
  border-color: #00cc67;
}

#pricing-table #active-tb {
  border-color: #00cc67;
}

.testimonial {
  background: #fafafa;
}

.testimonial-item {
  padding: 15px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.testimonial-item .img-thumb {
  float: left;
  overflow: hidden;
  position: relative;
  margin: 15px 15px 15px 0;
}

.testimonial-item .img-thumb img {
  border: 3px solid #00cc67;
  border-radius: 50%;
}

.testimonial-item .content {
  overflow: hidden;
}

.testimonial-item .content h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
}

.testimonial-item .content h2 a {
  color: #484848;
}

.testimonial-item .content .description {
  width: 100%;
}

.testimonial-item .content h3 {
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.testimonial-item .content h3 a {
  color: #00cc67;
}

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #00cc67;
}

/* Blog Area */
#blog {
  background: #f2f2f2;
}

.blog-post {
  background-color: #fafafa;
  border-bottom: 5px solid #00cc67;
  margin-bottom: 30px;
}

.blog-post .post-content {
  padding: 30px 40px;
}

.blog-post .post-content .post-title {
  margin-top: 0;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.blog-post .post-content .post-title a {
  color: #484848;
}

.blog-post .post-content .post-title a:hover {
  color: #00cc67;
}

.blog-post .cat-meta {
  margin-bottom: 20px;
}

.blog-post .cat-meta li a {
  background: #EBEBEB;
  color: #6f6f6f;
  padding: 5px 10px;
}

.blog-post .meta {
  margin-top: 0;
  margin-bottom: 10px;
}

.blog-post .meta .meta-part {
  display: inline-block;
  margin-right: 10px;
}

.blog-post .meta .meta-part a {
  color: #999;
  text-transform: capitalize;
}

.blog-post .entry-summary {
  margin: 15px 0 30px;
  line-height: 26px;
}

.quote-post .quote-wrap {
  text-align: center;
  padding: 50px 0;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  background: #F7F7F7;
}

blockquote {
  border-left: none;
  padding: 15px;
  line-height: 36px;
}

.pagination-bar {
  margin-top: 35px;
}

.page-item .page-link {
  margin-right: 10px;
  padding: 10px 18px;
  border-radius: 4px;
  color: #00cc67;
}

.page-link:focus, .page-link:hover, .page-link.active {
  background-color: #00cc67;
  color: #fff;
}

.post-content-block {
  margin-bottom: 40px;
}

.post-thumb {
  position: relative;
}

.post-thumb .date {
  position: absolute;
  font-size: 13px;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
  padding: 7px 17px;
  background-color: white;
}

.post-thumb .date .day {
  color: #00cc67;
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.post-meta {
  padding-bottom: 10px;
}

.post-meta a {
  color: #888;
}

.post-meta a:hover {
  color: #00cc67;
}

.post-meta span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
  line-height: 12px;
  color: #888;
  display: inline-block;
}

.post-meta span i {
  color: #888;
  margin-right: 5px;
}

.post-meta .post-comment {
  border-right: 0;
}

.tags-area {
  margin: 20px 0;
}

.tags-area .post-tags a {
  border: 1px solid #eee;
  color: #7c7c7c;
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px;
  margin-left: 3px;
  border-radius: 3px;
}

.tags-area .post-tags a:hover {
  background: #00cc67;
  color: #fff;
}

.share-items .list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.share-items .list-inline li a i {
  margin-left: 5px;
  font-size: 14px;
  line-height: 30px;
  color: #00cc67;
  text-align: center;
}

.share-items .post-social-icons a i.fa-facebook {
  background: #677fb5;
}

.share-items .post-social-icons a i.fa-twitter {
  background: #70c2e9;
}

.share-items .post-social-icons a i.fa-google-plus {
  background: #c53942;
}

.share-items .post-social-icons a i.fa-linkedin {
  background: #3daccf;
}

#comments .comment-box {
  padding: 15px;
  background: #fafafa;
}

#comments h3 {
  font-size: 24px;
  padding: 15px 0;
  font-weight: 700;
}

.respond-title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #999;
  text-transform: capitalize;
}

#comments .comments-list {
  padding: 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #fafafa;
}

#comments .comments-list .media {
  padding-bottom: 30px;
}

#comments .comments-list .media .thumb-left {
  float: left;
  position: relative;
  width: 200px;
  height: auto;
}

#comments .comments-list .media .thumb-left img {
  border: 2px solid #fff;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
}

#comments .comments-list .media .info-body {
  margin-left: 20px;
  box-shadow: 0 1px 1px rgba(37, 37, 37, 0.08);
  padding: 15px;
  background: #fff;
}

#comments .comments-list .media .info-body .media-heading {
  margin-bottom: 15px;
}

#comments .comments-list .media .info-body .media-heading .name {
  font-weight: 500;
  font-size: 18px;
}

#comments .comments-list .media .info-body .media-heading .comment-date {
  color: #999;
  margin-bottom: 5px;
  font-size: 14px;
}

#comments {
  margin-top: 15px;
}

#comments .comments-list li ul {
  padding-left: 100px;
}

.reply-link {
  color: #00cc67;
  font-size: 14px;
  margin-left: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.reply-link:hover {
  color: #00cc67;
}

.right-sidebar {
  padding-left: 20px;
}

.widget-search #search-form {
  position: relative;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 20px;
  height: 42px;
  background-color: transparent;
  border: none;
}

.search-btn i {
  color: #999;
}

#sidebar {
  margin-bottom: 30px;
}

#sidebar .widget {
  background-color: #fafafa;
  margin-bottom: 30px;
}

#sidebar .widget .widget-title {
  padding: 17px 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
}

#sidebar .categories-list {
  padding: 20px;
}

#sidebar .categories-list li {
  padding: 7px 0;
}

#sidebar .categories-list li a {
  text-decoration: none;
  color: #888;
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#sidebar .categories-list li a:hover {
  color: #00cc67;
}

#sidebar .categories-list li a i {
  margin-right: 5px;
}

#sidebar .categories-list li .category-counter {
  font-size: 12px;
}

#sidebar .posts-list {
  padding: 20px;
}

#sidebar .posts-list li {
  padding-bottom: 12px;
}

#sidebar .posts-list .widget-thumb {
  float: left;
}

#sidebar .posts-list .widget-thumb a {
  display: block;
}

#sidebar .posts-list .widget-thumb a img {
  opacity: 1;
  max-width: 90px;
  margin: 5px 15px 0 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#sidebar .posts-list .widget-thumb:hover img {
  opacity: 0.7;
}

#sidebar .posts-list .widget-content a {
  font-weight: 500;
  color: #484848;
  font-size: 15px;
}

#sidebar .posts-list .widget-content a:hover {
  color: #00cc67;
}

#sidebar .posts-list .widget-content span {
  color: #999;
  font-size: 13px;
  display: block;
  margin: 2px 0;
}

#sidebar .posts-list .widget-content span i {
  padding-right: 5px;
}

#sidebar .tagcloud {
  padding: 20px;
}

#sidebar .tagcloud a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #6f6f6f;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#sidebar .tagcloud a:hover {
  color: #00cc67;
}

#sidebar .add-box {
  padding: 20px;
}

#sidebar .add-box img {
  width: 100%;
}

/* Contact Forme */
#conatiner-map {
  width: 100%;
  height: 480px;
}

#google-map-area {
  padding-top: 60px;
  position: relative;
}

#google-map-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#content {
  position: relative;
}

#content .contact-form,
#content .information {
  margin-top: 40px;
}

#content .contact-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 25px;
  position: relative;
}

#content .contact-title:before {
  content: "";
  height: 3px;
  width: 40px;
  background: #00cc67;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#content .contact-datails {
  margin-top: 15px;
  position: relative;
}

#content .contact-datails .icon {
  position: absolute;
}

#content .contact-datails .icon i {
  font-size: 18px;
  color: #00cc67;
}

#content .contact-datails .info {
  padding-left: 28px;
}

#content .contact-datails .info h3 {
  font-size: 15px;
  display: block;
}

#content .contact-datails .info .datail {
  display: block;
  color: #888;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 26px;
  font-size: 14px;
  box-shadow: none;
  color: #848484;
  background: #ffffff;
  padding: 7px 19px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 400;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.form-control:focus {
  border-color: #00cc67;
  outline: 0;
  box-shadow: none;
}

.login-area {
  width: 100%;
  background: #fafafa;
  border: 1px solid #eaedef;
}

.login-area h3 {
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  background: #f7f7f7;
  text-align: center;
  border-bottom: 1px solid #eaedef;
}

.login-area .login-form {
  padding: 30px 15px;
}

.login-area .login-form .input-icon {
  position: relative;
}

.login-area .login-form .input-icon i {
  font-size: 15px;
  left: 16px;
  color: #999;
  line-height: 22px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
}

.login-area .login-form .input-icon input {
  padding-left: 40px;
}

.login-area .checkbox {
  display: inline-block;
}

.login-area .checkbox label {
  font-size: 14px;
  margin-left: 5px;
}

.login-area .forgetpassword {
  float: right;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.login-area .forgetpassword:hover {
  color: #00cc67;
}

.login-area .form-links a {
  color: #999;
}

.login-area .form-links a:hover {
  color: #00cc67;
}

.close-account {
  padding: 15px;
  text-align: center;
}

.close-account p {
  margin-bottom: 10px;
}

.close-account .radio-inline {
  margin: 0px 5px 15px;
}

.wrapper-sub {
  padding: 50px 20px;
  background: #fafafa;
}

.subscribes p {
  font-size: 18px;
  color: #484848;
  line-height: 30px;
  font-weight: 500;
}

.subscribe {
  margin-top: 5px;
  width: 100%;
}

.subscribe .form-control {
  float: left;
  width: 72%;
  border-radius: 0px;
  height: 52px;
}

.subscribe .btn {
  padding: 14px 26px;
  border-radius: 0;
}

/* ==========================================================================
   Footer Style
   ========================================================================== */
.block-title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 25px;
  position: relative;
}

.block-title:before {
  content: "";
  height: 3px;
  width: 40px;
  background: #00cc67;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

footer .footer-Content {
  background-color: #1a1c1d;
  padding: 60px 0;
  color: #b7c3c8;
}

.textwidget {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.textwidget p {
  color: #b7c3c8;
  font-size: 15px;
}

footer .menu {
  padding-left: 0;
}

footer .menu li {
  padding-bottom: 10px;
}

footer .menu li a {
  color: #b7c3c8;
  font-size: 15px;
}

footer .menu li a:hover {
  color: #00cc67;
}

.contact-footer {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.contact-footer li {
  padding: 3px 0;
}

.contact-footer li strong {
  float: left;
}

.contact-footer li span {
  margin-left: 66px;
  display: block;
}

.contact-footer li span a {
  color: #b7c3c8;
}

.contact-footer li span a:hover {
  color: #00cc67;
}

.footer-social {
  margin-top: 22px;
}

.footer-social li {
  display: inline-block;
  margin-right: 12px;
}

.footer-social li a {
  background-color: #00cc67;
  border-radius: 50%;
  color: #fff;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer-social li .facebook:hover {
  background-color: #3b5998;
}

.footer-social li .twitter:hover {
  background-color: #55acee;
}

.footer-social li .linkedin:hover {
  background-color: #007bb5;
}

.footer-social li .google-plus:hover {
  background-color: #dd4b39;
}

.bottom-card li {
  display: inline-block;
}

.bottom-card li img {
  max-width: 100%;
  height: auto;
}

#copyright {
  background-color: #111212;
  padding: 20px 0 10px;
  color: #fff;
}

#copyright p {
  line-height: 34px;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #00cc67;
}

.social-icon .facebook:hover {
  background-color: #3b5998;
}

.social-icon .twitter:hover {
  background-color: #55acee;
}

.social-icon .dribble:hover {
  background-color: #D34836;
}

.social-icon .flickr:hover {
  background-color: #ff0084;
}

.social-icon .youtube:hover {
  background-color: #CC181E;
}

.social-icon .google-plus:hover {
  background-color: #dd4b39;
}

.social-icon .linkedin:hover {
  background-color: #007bb5;
}

#about .about-wrapper {
  padding: 40px 0;
}

#about .intro-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

#about .intro-desc {
  margin-bottom: 15px;
}

.special-product {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.special-product:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.special-product .product-text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  /* background: #555; */
  /* -webkit-transition: all .3s ease-in-out; */
  /* transition: all .3s ease-in-out; */
  /* -webkit-transform: translate3d(0, 100%, 0); */
  /* transform: translate3d(0, 100%, 0); */
  padding: 30px;
  z-index: 2;
}

.special-product .product-text h3 {
  font-size: 30px;
  color: #fff;
}

.special-product .product-text .offer-details {
  margin-top: 30px;
  color: #fff;
}

.special-product .product-text .offer-details h4 {
  font-size: 18px;
}

.special-product .product-text .offer-details p {
  font-size: 16px;
}

.special-product .product-text .price {
  font-weight: 700;
  color: #fff;
  font-size: 26px;
  color: #03cd67;
  margin-bottom: 15px;
}

.special-product .product-text .icon-footer {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.special-product .product-text .icon-footer a {
  font-size: 30px;
  color: #fff;
}

.special-product .product-text .icon-footer a:hover {
  color: #00cc67;
}

.special-product .product-text .text {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.cta {
  background: #fafafa;
}

.single-cta {
  background: #fff;
  text-align: center;
  padding: 30px;
}

.single-cta .cta-icon {
  padding-bottom: 15px;
}

.single-cta .cta-icon i {
  font-size: 40px;
  color: #00cc67;
}

.single-cta h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.head-faq {
  margin-bottom: 20px;
}

.panel-group .panel {
  margin-bottom: 24px;
}

.panel-default {
  border-radius: 0px;
  border: none;
}

.panel-default .panel-heading {
  padding: 0px 30px;
  outline: none;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  width: 100%;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
}

.panel-default .panel-heading .panel-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  color: inherit;
}

.panel-default .panel-heading a {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 35px 15px 30px;
  display: inline-block;
  width: 100%;
  color: #484848;
  position: relative;
}

.panel-default .panel-heading a:after {
  font-family: "LineIcons";
  content: "\e9d6";
  position: absolute;
  left: 0px;
  color: #00cc67;
  top: 50%;
  line-height: 1;
  padding: 0px 5px;
  margin-top: -7px;
}

.panel-default .panel-heading .collapsed:after {
  content: "\e9bc";
}

.panel-default .panel-collapse .panel-body {
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.counter-section {
  background: url(../img/background/counter.jpg);
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 30px;
}

.counter-section .counter .icon i {
  font-size: 60px;
  color: #00cc67;
}

.counter-section .counter .counterUp {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.counter-section .counter p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.error-content {
  width: 100%;
  padding: 50px 0px;
}

.error-content .error-message {
  padding: 0px 0px 45px;
  text-align: center;
}

.error-content .error-message h2 {
  color: #00cc67;
  font-size: 200px;
  position: relative;
  margin: 0px;
  padding: 0px 10px 8px;
}

.error-content .error-message h3 {
  color: #484848;
  font-size: 28px;
  font-weight: 500;
  line-height: 56px;
  margin: 0px;
}

.error-content .form-error-search {
  width: 100%;
  float: left;
  margin: 0px 0px 30px;
  border-radius: 4px;
  border-width: 7px;
  border-style: solid;
  border-color: #ebebed;
  border-image: initial;
  position: relative;
}

.error-content .form-error-search .form-control {
  width: 100%;
  float: left;
  height: 60px;
  font-size: 16px;
  line-height: 30px;
  border-width: 0px;
  border-radius: 5px;
}

.error-content .form-error-search .btn-search {
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 190px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  padding: 0px;
  border-radius: 0px 4px 4px 0px;
}

.error-content .description {
  text-align: center;
  color: #999;
}

.error-content .description a {
  color: #55acee;
}

.error-content .description a:hover {
  color: #00cc67;
}
